.header
{
	background:#6A748A;
	padding:50px 0px;
	margin-bottom:50px;
}

.header h1
{
	font-weight:bold;
	font-size: 28px;
	color: #FFFFFF;
	line-height: 34px;
	padding:2px 0px;
	margin:0px;
}

.header p
{
	opacity: 0.59;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 26px;
	padding:2px 0px;
}

.header .btn-success
{
	padding:15px 30px;
	border:none;
	background:#28D290;
	font-size:15px;
	font-weight:500;
	margin: 5px 0px;
}