.lesson-header
{
	background:#6A748A;
	padding:20px 0px;
	margin-bottom:10px;
}

.lesson-header img
{
	height:70px;
	width:auto;
}

.lesson-header h1
{
	font-weight:bold;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 34px;
	padding:2px 0px;
	margin:0px;
}

.lesson-header p
{
	opacity: 0.59;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 26px;
	padding:2px 0px;
}

.lesson-header .btn-success
{
	padding:15px 30px;
	border:none;
	background:#28D290;
	font-size:15px;
	font-weight:500;
	margin: 5px 0px;
}